<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneradorArticulo</servlet-name>
        <servlet-class>controlador.GeneradorArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarArticulo</servlet-name>
        <servlet-class>controlador.EditarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearArticulo</servlet-name>
        <servlet-class>controlador.CrearArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarArticulo</servlet-name>
        <servlet-class>controlador.EliminarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneradorArticulo</servlet-name>
        <url-pattern>/GeneradorArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarArticulo</servlet-name>
        <url-pattern>/EditarArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearArticulo</servlet-name>
        <url-pattern>/CrearArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarArticulo</servlet-name>
        <url-pattern>/EliminarArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
